.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-right: 80px;
    gap: 10px;
}

.newsText {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 25px;
    padding-right: 144px;

    color: #254F4C;
}

.pizza {
    width: 72px;
    margin-left: 144px;

    font-size: 17px;
    font-family: "Roboto", sans-serif;

    color: #1D3130;
}

.text {
    width: 72px;
    margin-left: 16px;

    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: #1D3130;
}

.textBurger {
    width: 72px;
    margin-left: 16px;

    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: #FF583E;
}

.sort {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: #1D3130;
}

.sortSelect {
    width: 160px;
    height: 40px;
    margin-left: 24px;

    border: 1px solid #C4C4C4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    color: #3A403F;
}

.sortMove {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 737px;
}

.pizzas {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    gap: 32px;
    flex-wrap: wrap;
}

.buttonMore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 49px;
    margin-top: 19px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;

    color: #FF583E;
    border: 1px solid #FF583E;
    border-radius: 40px;
}

.buttonMore:hover {
    background-color: #ff371b;
    color: white;
}

.moveButtonMore {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}