.elems {
    position: absolute;
    display: flex;
    margin-top: 133px;
    margin-left: 300px;
    flex-wrap: wrap;
}

.elem {
    height: 150px;
    gap: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    border-radius: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.elem img {
    max-height: 190px;
    max-width: 200px;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.buttonDelete {
    width: 100px;
    height: 50px;
    color: white;
    background-color: red;
    border-radius: 5px;
}

.buttonDelete:hover {
    cursor: pointer;
    background-color: #a74a45;
}

.buttonEdit {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #3751FF;
    border-radius: 5px;
}

.buttonEdit:hover {
    cursor: pointer;
    background-color: #6d6da7;
}

.moveElem {
    display: flex;

}