.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.basket {
    display: flex;
    justify-content: center;
    gap: 70px;
    font-family: sans-serif;
    color: gray;
}

.elements {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}

.element {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titleProducts {
    display: flex;
    gap: 150px;
}

.button {
    width: 400px;
    height: 50px;
    border-radius: 8px;
    background-color: #6495ED;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
}

.button:hover {
    background-color: #FF583E;
}

.buttonMove {
    display: flex;
    justify-content: center;
}

.elem {
    display: flex;
    align-items: center;
    gap: 110px;
}

.elem img {
    max-height: 90px;
    max-width: 120px;
}

.elem div {
    width: 100px;

}

.elem input {
    width: 80px;
    text-align: center;
    border-radius: 4px;
}

.moveOutCome {
    display: flex;
    justify-content: center;
    margin-left: 280px;
}

.outCome {
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.notHave {
    display: flex;
    height: 160px;
    justify-content: center;
}