.checkout {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.checkout a {
    font-weight: 300;
}

.formData {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    width: 1070px;
}

.formData input {
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 400px;
    height: 40px;
    border: 1px solid #adacac;
    border-radius: 4px;
}

.formData input::placeholder {
    color: #adacac;
}

.title {
    font-size: 48px;
}

.link {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 20px;
}

.quality {
    margin-left: 180px;
}

.names {
    display: flex;
    gap: 80px;
    color: #adacac;
    font-size: 17px;
    font-weight: 200;
}

.address {
    margin-top: 20px;
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    gap: 7px;
}

.address label {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 4px;
    width: 400px;
    height: 40px;
    border: 1px solid #adacac;
}

.address select {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 4px;
    width: 422px;
    height: 44px;
    border: 1px solid #adacac;
}

.input {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 4px;
    width: 398px;
    height: 40px;
    border: 1px solid #adacac;
}

.elem {
    display: flex;
    align-items: center;
    gap: 70px;
}

.elem img{
    max-height: 90px;
    max-width: 120px;
}

.elem div {
    width: 80px;

}

.elem input {
    width: 80px;
    text-align: center;
}

.pay {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    font-size: 14px;
}

.pay label {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 4px;
    width: 285px;
    height: 45px;
    border: 1px solid #adacac;
}

.pay textarea {
    width: 1162px;
    height: 32px;
    padding: 20px;
}

.movePay {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    width: 1070px;
}

.outcome {
    position: absolute;
    margin-left: 1150px;
    margin-top: -1135px;
    width: 272px;
    height: 400px;
    background: #EBF1FA;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.outcome input {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 232px;
    height: 35px;
    color: gray;
    border-radius: 5px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.sum {
   font-size: 13px;
    color: gray;
}

.total {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 22px;
}

.button {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #5E8BCE;
    border-radius: 5px;
    font-weight: 500;
    width: 242px;
    font-size: 17px;
    height: 40px;
}

.moveButton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}