@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
}

.moveText {
    margin-left: 8px;
}

.logoFirstText {
    display: inline;

    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;

    color: #254F4C;
}

.logoLastText {
    height: 16px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;

    color: #1D3130;
}

.main {
    margin-left: 129px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;

    color: #FF583E;
}

.menu {
    margin-left: 60px;

    border: none;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #1D3130;
}

.text {
    margin-left: 60px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;

    color: #1D3130;
}

.textPhone {
    margin-left: 60px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;

    color: #1D3130;
}

.textPhone img {
    margin-right: 8px;
}

.basket {
    margin-left: 60px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;

    color: #FF583E;
}

.basket img {
    margin-right: 8px;
}